<link rel="stylesheet" type="text/css" href="forumdata/cache/style_{STYLEID}_float.css?{VERHASH}" />

<style type="text/css">
.main { overflow: hidden; }
.content { margin: 5px; min-height: 400px; {FLOATBGCODE}; }
	* html .content { height: 400px; overflow: auto; }
.fixedbtn { position: static; }
</style>
<div id="nav"><a href="$indexname">$bbname</a> $navigation</div>
<div id="wrap" class="wrap s_clear">
	
<div class="main"><div class="content"><div class="nojs">

<div id="floatwinnojs">