{template header}
<div id="nav"><a href="$indexname">$bbname</a> &raquo; OpenID 设置</div>

<form method="post" name="login">
<input type="hidden" name="formhash" value="{FORMHASH}" />
<input type="hidden" name="referer" value="$referer" />
<div class="mainbox formbox">
	<span class="headactions">{faq login}</span>
	<h1>$GLOBALS['language']['openid_setting']</h1>
	<table summary="{lang member_login}" cellspacing="0" cellpadding="0">
		<tr>
			<th onclick="document.login.openid_identifier.focus();">
				<label>OpenID</label>
			</th>
			<td>
				<input type="text" id="openid_identifier" name="openid_identifier" value="$openid['openid_identifier']" size="40" tabindex="4"
					style="background: url(plugins/openid/images/login-bg.gif) no-repeat; background-position: 0 50%; padding-left: 18px;" />
				<a href="http://openid.org.cn/">$GLOBALS['language']['openid_getone']</a>
				<br />$GLOBALS['language']['openid_empty']
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><button class="submit" type="submit" name="loginsubmit" value="true" tabindex="100">{lang submit}</button></td>
		</tr>
	</table>
</div>
</form>

<script type="text/javascript">
document.getElementById("openid_identifier").focus();
</script>

{template footer}