<h2>{lang user_center}</h2>
<div class="sideinner">
	<ul class="tabs">
		<!--{if $regverify == 1 && $groupid == 8}-->
			<li><a href="member.php?action=emailverify">{lang memcp_email_reverify}</a></li>
		<!--{/if}-->
		<!--{if $regverify == 2 && $groupid == 8}-->
			<li><a href="memcp.php?action=validating">{lang memcp_validating}</a></li>
			<li><a href="memcp.php?action=profile&typeid=2">{lang memcp_profile}</a></li>
		<!--{else}-->
			<li><a href="memcp.php?action=profile&typeid=2">{lang memcp_profile}</a></li>
			<li><a href="pm.php">{lang pm}</a></li>
			<li><a href="my.php?item=buddylist&$extrafid">{lang my_buddylist}</a></li>
			<!--{if $regstatus > 1}--><li><a href="invite.php">{lang invite}</a></li><!--{/if}-->
			<!--{if $ucappopen['UCHOME']}-->
				<li><a href="{$uchomeurl}/space.php?uid=$discuz_uid" target="_blank">{lang space_my}</a></li>
			<!--{elseif $ucappopen['XSPACE']}-->
				<li><a href="{$xspaceurl}/?uid-$discuz_uid" target="_blank">{lang space_my}</a></li>
			<!--{/if}-->
		<!--{/if}-->
	</ul>
</div>

<!--{if $groupid != 8}-->
	<hr class="shadowline" />

	<div class="sideinner">
		<ul class="tabs">
			<li><a href="my.php?item=threads$extrafid">{lang my_posts}</a></li>
			<li><a href="my.php?item=favorites&amp;type=thread$extrafid">{lang my_favorite}</a></li>
			<li><a href="my.php?item=subscriptions$extrafid">{lang my_subscriptions}</a></li>
		</ul>
	</div>
	
	<hr class="shadowline" />
	
	<div class="sideinner">
		<ul class="tabs">
			<li><a href="memcp.php?action=credits">{lang credits}</a></li>
			<li><a href="memcp.php?action=usergroups">{lang permission_group_search}</a></li>
			<li><a href="task.php">{lang task}</a></li>
			<!--{if $medalstatus}--><li><a href="medal.php">{lang medals_list}</a></li><!--{/if}-->
			<!--{if $magicstatus}--><li><a href="magic.php">{lang magics_title}</a></li><!--{/if}-->
		</ul>
	</div>
<!--{/if}-->

<hr class="shadowline" />

<div class="sideinner">
	<ul class="tabs">
		<li><a href="memcp.php?action=profile&typeid=5">{lang memcp_profile_person}</a></li>
		<li><a href="memcp.php?action=profile&typeid=1">{lang memcp_profile_security}</a></li>
	</ul>
</div>

<hr class="shadowline" />

<div class="sideinner">
	<ul class="tabs">
		<li>{lang credits}: $credits</li>
		<!--{loop $extcredits $id $credit}-->
		<li>
			<!--{if $BASESCRIPT == 'invite.php' && $id == $creditstransextra[4] ||
				$BASESCRIPT == 'memcp.php' && $id == $creditstrans}-->
			$credit[title]: <span style="font-weight: bold;">$GLOBALS['extcredits'.$id]</span> $credit[unit]
			<!--{else}-->
			$credit[title]: $GLOBALS['extcredits'.$id] $credit[unit]
			<!--{/if}-->
		</li>
		<!--{/loop}-->
	</ul>
</div>